In [ ]:
import pandas as pd
import os

In [ ]:
save_path = "./data/"
read_path = f"{save_path}FoodData_Central_survey_food_csv_2024-10-31/"

csv_files = [f for f in os.listdir(read_path) if f.endswith('.csv')]
csv_files.sort()

dataframes = [pd.read_csv(os.path.join(read_path, key)) for key in csv_files if key.islower()]

# Exploring the data in the `FoodData_Central_survey`

In [3]:
def print_format(dataframes, index):
    print("Dataframe named:", csv_files[index])
    df = dataframes[index]
    return df

In [4]:
print_format(dataframes, 0).head()

Dataframe named: fndds_derivation.csv

  derivation code                             derivation description
0               A                                         Analytical
1              AI  Analytical data; from the literature or  gover...
2              AR      Analytical data; derived by linear regression
3              AS                                             Summed
4              BD  Based on same food; Drained solids from solids...

In [5]:
food = print_format(dataframes, 1).head()

stripped_food = food[['fdc_id', 'description']]

#Save as CSV
stripped_food.to_csv('./data/PROCESSED_fdc_id_description_pairing.csv', index=False)

Dataframe named: food.csv

In [6]:
print_format(dataframes, 2).head()

Dataframe named: food_attribute.csv

,id,fdc_id,seq_num,food_attribute_type_id,name,value
0,3298314,2705383,NaN,999,WWEIA Category description,Human milk
1,3298313,2705383,NaN,999,WWEIA Category number,9602
2,3298316,2705384,NaN,999,WWEIA Category description,"Milk, reduced fat"
3,3298315,2705384,NaN,999,WWEIA Category number,1004
4,3318824,2705384,NaN,1002,NaN,Moisture change: 0%

In [7]:
food_atribute_ds = print_format(dataframes, 3)

food_atribute_ds['id'].describe()

Dataframe named: food_attribute_type.csv

count       5.000000
mean     1000.000000
std         1.581139
min       998.000000
25%       999.000000
50%      1000.000000
75%      1001.000000
max      1002.000000
Name: id, dtype: float64

In [8]:
print_format(dataframes, 5).head()

Dataframe named: food_portion.csv

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired
0,290506,2705383,1,NaN,9999,1 cup,10205,246.0,NaN,NaN,NaN
1,290507,2705383,2,NaN,9999,Quantity not specified,90000,0.0,NaN,NaN,NaN
2,290508,2705383,3,NaN,9999,1 fl oz,30000,30.8,NaN,NaN,NaN
3,290513,2705384,5,NaN,9999,Guideline amount per cup of hot cereal,63546,61.0,NaN,NaN,NaN
4,290511,2705384,3,NaN,9999,1 individual school container,64294,244.0,NaN,NaN,NaN

In [9]:
print_format(dataframes, 6).head()

Dataframe named: food_update_log_entry.csv

        id             description last_updated
0  2705383             Milk, human   2024-10-31
1  2705384               Milk, NFS   2024-10-31
2  2705385             Milk, whole   2024-10-31
3  2705386  Milk, reduced fat (2%)   2024-10-31
4  2705387      Milk, low fat (1%)   2024-10-31

In [10]:
print_format(dataframes, 7).head()

Dataframe named: input_food.csv

,id,fdc_id,fdc_of_input_food,seq_num,amount,sr_code,sr_description,unit,portion_code,portion_description,gram_weight,retention_code
0,124268,2705384,NaN,1,40.0,1077,"Milk, whole, 3.25% milkfat, with added vitamin D",GM,0,NONE,40.0,0
1,124271,2705384,NaN,4,8.0,1085,"Milk, nonfat, fluid, with added vitamin A and ...",GM,0,NONE,8.0,0
2,124270,2705384,NaN,3,14.0,1082,"Milk, lowfat, fluid, 1% milkfat, with added vi...",GM,0,NONE,14.0,0
3,124269,2705384,NaN,2,38.0,1079,"Milk, reduced fat, fluid, 2% milkfat, with add...",GM,0,NONE,38.0,0
4,124272,2705385,NaN,1,100.0,1077,"Milk, whole, 3.25% milkfat, with added vitamin D",GM,0,NONE,100.0,0

In [11]:
print_format(dataframes, 8).head()

Dataframe named: measure_unit.csv

     id        name
0  1000         cup
1  1001  tablespoon
2  1002    teaspoon
3  1003       liter
4  1004  milliliter

In [12]:
print_format(dataframes, 10).head()

Dataframe named: survey_fndds_food.csv

    fdc_id  food_code  wweia_category_number  start_date    end_date
0  2705383   11000000                   9602  2021-01-01  2023-12-31
1  2705384   11100000                   1004  2021-01-01  2023-12-31
2  2705385   11111000                   1002  2021-01-01  2023-12-31
3  2705386   11112110                   1004  2021-01-01  2023-12-31
4  2705387   11112210                   1006  2021-01-01  2023-12-31

In [13]:
print_format(dataframes, 11).head()

Dataframe named: wweia_food_category.csv

   wweia_food_category wweia_food_category_description
0                 1002                     Milk, whole
1                 1004               Milk, reduced fat
2                 1006                    Milk, lowfat
3                 1008                    Milk, nonfat
4                 1202            Flavored milk, whole