In [1]:
# Importuri
import pandas as pd

In [ ]:
# For the following FOOD_CODEs ['12012', '17046', '11130', '17045', 'a1362', 'a7021', '12008', '17038', '12042']
# We get missing values in ./data/FOOD_CODE.csv
# FOOD_CODE.csv has updated based on https://www.mrc-epid.cam.ac.uk/wp-content/uploads/2023/03/food_code_lookup.pdf to include these missing FOOD_CODEs

baza_1 = pd.read_csv("./data/FOOD_CODES.csv")

# Convert nan to -1
# baza_1['FOOD_CODE'] = baza_1['FOOD_CODE'].replace('nan', -1)
baza_1['FOOD_CODE'] = baza_1['FOOD_CODE'].astype(str).str.strip()
# baza_1.iloc[289].FOOD_CODE

# Get data type for FOOD_CODE
# baza_1['FOOD_CODE'].dtype

In [ ]:
# baza_1[baza_1['FOOD_CODE'] == "x1325"]

    FOOD_CODE                         DESC
285     x1325  Sponge pudding, fat removed

In [42]:
baza_1["FOOD_CODE"].nunique()

290

In [43]:
baza_2 = pd.read_csv("./data/MEAL_ID.csv")

baza_2.head()

   LINE NUMBER  FFQNAME                                             SGDESC
0            1     BEEF  Meat - beef - roast, steak, mince, stew or cas...
1            2   BURGER                                 Meat - beefburgers
2            3     PORK         Meat - pork - roast, chops, stew or slices
3            4     LAMB                 Meat - lamb - roast, chops or stew
4            5  CHICKEN                                     Meat - poultry

In [44]:
baza_2["LINE NUMBER"].describe()

count    130.000000
mean      65.500000
std       37.671829
min        1.000000
25%       33.250000
50%       65.500000
75%       97.750000
max      130.000000
Name: LINE NUMBER, dtype: float64

In [52]:
baza_3 = pd.read_excel('./data/popa2023andreea2013.xlsx')

# Read FOOD_CODE as string to preserve leading 'x' or 'a'
baza_3['FOOD_CODE'] = baza_3['FOOD_CODE'].astype(str).str.strip()

# baza_3['FOOD_CODE'].nunique()
baza_3

        ID  MEAL_ID FOOD_CODE  FOOD_PORTION
0        1        0     12012       293.000
1        1        1     18005         0.560
2        1        1     18049         6.930
3        1        2     19029        14.000
4        1        3     18205         4.945
...    ...      ...       ...           ...
50340  651      123     13384        24.510
50341  651      126     15077        15.800
50342  651      126     15078        15.800
50343  651      126     15079        15.800
50344  651      127     14037        30.100

[50345 rows x 4 columns]

In [53]:
# Group by ID and add FOOD_PORTIONs
baza_3_grouped = baza_3.groupby('ID')['FOOD_PORTION'].sum()

baza_3_grouped[baza_3_grouped == 320.720000]

# baza_3_grouped.describe()

ID
336    320.72
351    320.72
Name: FOOD_PORTION, dtype: float64

In [54]:
baza_3[baza_3['FOOD_CODE'] == 'x0535']

        ID  MEAL_ID FOOD_CODE  FOOD_PORTION
236      4       10     x0535          1.05
319      5       10     x0535          1.05
531      8       10     x0535          1.05
615      9       10     x0535          1.05
1247    17       10     x0535          2.10
1533    20       10     x0535          1.05
2066    26       10     x0535          1.05
2351    29       10     x0535          1.05
3067    37       10     x0535          1.05
3538    43       10     x0535          1.05
3647    44       10     x0535          1.05
3864    46       10     x0535          1.05
5750    68       10     x0535          1.05
5958    70       10     x0535          2.10
6638    78       10     x0535          1.05
6819    80       10     x0535          2.10
6982    82       10     x0535          1.05
7501    88       10     x0535          1.05
7580    89       10     x0535          1.05
7733    91       10     x0535          1.05
7929    94       10     x0535          1.05
8025    95       10     x0535          1.05
8573   101       10     x0535          1.05
9394   111       10     x0535          1.05
9749   115       10     x0535          1.05
9847   116       10     x0535          1.05
10182  120       10     x0535          1.05
11895  139       10     x0535          1.05
15302  182       10     x0535          2.10
15914  189       10     x0535          1.05
16968  201       10     x0535          1.05
17513  208       10     x0535          1.05
18254  217       10     x0535          1.05
19512  233       10     x0535          1.05
19628  234       10     x0535          1.05
19882  236       10     x0535          1.05
20132  239       10     x0535          1.05
20394  242       10     x0535          1.05
20733  246       10     x0535          2.10
20990  249       10     x0535          1.05
21324  253       10     x0535          1.05
21772  258       10     x0535          1.05
22594  268       10     x0535          1.05
23751  282       10     x0535          1.05
24322  289       10     x0535          1.05
24821  295       10     x0535          1.05
25047  298       10     x0535          1.05
25312  301       10     x0535          1.05
25400  302       10     x0535          1.05
25489  303       10     x0535          1.05
26208  312       10     x0535          1.05
26506  316       10     x0535          1.05
26956  321       10     x0535          2.10
27778  331       10     x0535          1.05
28881  346       10     x0535          1.05
29516  354       10     x0535          1.05
31019  372       10     x0535          1.05
31706  380       10     x0535          1.05
32763  394       10     x0535          1.05

In [58]:
unique_vals_b3 = pd.Series(baza_3['FOOD_CODE'].unique(), name='FOOD_CODE').to_frame()
unique_vals_b3

needed_table = pd.merge(unique_vals_b3, baza_1, left_on='FOOD_CODE', right_on='FOOD_CODE', how='left')
# needed_table

# Remove columns that are not needed
# needed_table = needed_table.drop(columns=['AMOUNT', 'MODIFIER'])

# needed_table = pd.merge(needed_table, baza_2, left_on='MEAL', right_on='FFQNAME', how='left')

# Convert to list
# missing_vals = needed_table[needed_table['DESC'].isna()]['FOOD_CODE'].tolist()
# print(missing_vals)

# # Remove columns that are not needed
# needed_table = needed_table.drop(columns=['LINE NUMBER'])

# # Rename FOOD_CODE to FETA_ID
# needed_table = needed_table.rename(columns={'FOOD_CODE': 'FETA_ID'})

# Complete SGDESC by filling NaN with 'Unknown'
# needed_table['SGDESC'] = needed_table['SGDESC'].fillna('Astea apar in baza de date, dar nu ai Index Feta pentru ele in CSVurile tale.')

# needed_table

# Export to CSV
needed_table.to_csv('./data/CATA_needs_fdc_id.csv', index=False)

In [ ]:
# mini_ds = baza_3[:10]

# # for fc in mini_ds["FOOD_CODE"]:
# #     print(f"Searching for FOOD_CODE: {fc}")

# #     # Search for FOOD_CODE in baza_1
# #     for index, row in baza_1.iterrows():
# #         if row["FOOD_CODE"] == fc:
# #             print(f"Found matching FOOD_CODE in baza_1: {row['FOOD_CODE']}")
# #             break

# for fc in baza_1["FOOD_CODE"]:
#     if fc == 12012:
#         print("Found FOOD_CODE 12012 in baza_1")
#         break

# pd.merge(mini_ds, baza_1, on="FOOD_CODE", how="left")

   ID  MEAL_ID FOOD_CODE  FOOD_PORTION      MEAL  AMOUNT MODIFIER
0   1        0     12012       293.000       NaN     NaN      NaN
1   1        1     18005         0.560      BEEF    16.0        a
2   1        1     18049         6.930      BEEF    99.0      NaN
3   1        2     19029        14.000    BURGER   100.0      NaN
4   1        3     18205         4.945      PORK    23.0        a
5   1        3     18251        39.560      PORK    92.0      NaN
6   1        5     18331        43.000   CHICKEN   100.0      NaN
7   1        5     18361         6.450   CHICKEN    15.0      NaN
8   1        9     19077         4.200  SAUSAGES    30.0      NaN
9   1        9     19080         4.200  SAUSAGES    30.0      NaN

In [59]:
# Join baza_3 with baza_1 on FOOD_CODE
merged_df = pd.merge(baza_3, baza_1, on='FOOD_CODE', how="left")

merged_df.head()

   ID  MEAL_ID FOOD_CODE  FOOD_PORTION                                DESC
0   1        0     12012       293.000                 Whole milk, average
1   1        1     18005         0.560          Beef, average, fat, cooked
2   1        1     18049         6.930     Beef, rump steak, grilled, lean
3   1        2     19029        14.000  Beefburgers, chilled/frozen, fried
4   1        3     18205         4.945                   Pork, fat, cooked